{% extends 'base.html' %}

{% block title %}All Recipes{% endblock %}

{% block content %}
<h1>All Recipes</h1>

<!-- Custom Model -->
<!-- <ul>
    {% for recipe in recipes %}
        <li>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.title }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'search_recipes' %}">Search Recipes</a> -->

<!-- KeyValueStore Model -->
<ul>
    {% for recipe in recipes %}
        <li>
            <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.strmeal }}</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'search_recipes' %}">Search Recipes</a>
{% endblock %}
