{% extends 'base.html' %}

{% block title %}View Profile{% endblock %}

{% block content %}
<hr>
<h1>Profile for {{ request.user.username }}</h1>
<hr>
<a href="{% url 'edit_profile' %}">Edit Profile</a>
<a href="{% url 'change_password' %}">Change Password</a>
<h2>Personal Information</h2>
<p>First Name: {{ request.user.first_name }}</p>
<p>Last Name: {{ request.user.last_name }}</p>
<img src="{{ profile.image.url }}" alt="Profile Image" width="150">

<h2>Allergies:</h2>
<ul>
    {% for allergy in profile.allergies %}
    <li>{{ allergy }}</li>
    {% endfor %}
</ul>

<h2>Add a New Recipe</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'add_recipe' %}">
    {% csrf_token %}
    {{ recipe_form.as_p }}
    <button type="submit">Add Recipe</button>
</form>
</body>
{% endblock %}